/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.dSYM
/ext/rubydex/Makefile
mkmf.log
target/
rust/rubydex-sys/rustbindings.h
ext/rubydex/rustbindings.h
ext/rubydex/compile_commands.json
ext/rubydex/.cache
