/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.dSYM
/ext/saturn/Makefile
mkmf.log
target/
rust/saturn-sys/rustbindings.h
ext/saturn/rustbindings.h
ext/saturn/compile_commands.json
ext/saturn/.cache
