/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.dSYM
/ext/index/Makefile
mkmf.log
target/
ext/index/rustbindings.h
ext/index/compile_commands.json
ext/index/.cache
.DS_Store
