[package]
name = "index"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[build-dependencies]
cbindgen = "0.29"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
