[package]
name = "index"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib", "rlib"]

[[bin]]
name = "serde_json"
path = "bin/serde_json.rs"

[build-dependencies]
cbindgen = "0.29"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
