name: "Package and release gems with precompiled binaries"
on:
  # Manually trigger a dry-run that doesn't publish to RubyGems
  workflow_dispatch:
  # Trigger release flow through pushing tags
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+.beta[0-9]*

jobs:
  compile:
    timeout-minutes: 20
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-22.04"]
    runs-on: "${{ matrix.os }}"
    env:
      RELEASE: "true"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Setup Ruby"
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: "3.2.9"
          bundler-cache: true
      - name: "Install cargo-about"
        run: cargo install cargo-about
      - name: "Run cibuildgem"
        uses: "shopify/cibuildgem/.github/actions/cibuildgem@main"
        with:
          step: "compile"
  test:
    timeout-minutes: 20
    name: "Run the test suite"
    needs: compile
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-22.04"]
        rubies: ["3.2", "3.3", "3.4", "4.0"]
        type: ["cross", "native"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Setup Ruby"
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: "${{ matrix.rubies }}"
          bundler-cache: true
      - name: "Run cibuildgem"
        uses: "shopify/cibuildgem/.github/actions/cibuildgem@main"
        with:
          step: "test_${{ matrix.type }}"
  install:
    timeout-minutes: 5
    name: "Verify the gem can be installed"
    needs: test
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-22.04"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Setup Ruby"
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: "4.0.0"
      - name: "Run cibuildgem"
        uses: "shopify/cibuildgem/.github/actions/cibuildgem@main"
        with:
          step: "install"
  release:
    environment: release
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 5
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    name: "Release all gems with RubyGems"
    needs: install
    runs-on: "ubuntu-latest"
    steps:
      - name: "Setup Ruby"
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: "4.0.0"
      - name: "Run cibuildgem"
        uses: "shopify/cibuildgem/.github/actions/cibuildgem@main"
        with:
          step: "release"
  release_github:
    name: Create GitHub release
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          script: |
            await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ github.ref }}",
              name: "${{ github.ref_name }}",
              generate_release_notes: true,
              prerelease: "${{ github.ref_name }}".includes(".beta")
            });
